<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <main>
        <h1>
            <%= header %>
        </h1>
        <form action="<%= action %>" method="POST" <p>
            <label for="customerId">Customer Id</label>
            <input type="text" id="customerId" name="customerId" size="5" </p>
            <button type="submit">Submit
            </button>
        </form>
        <a href="/"><button>Menu</a>
    </main>
</body>

</html>